* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ccffcce0;
    padding-top: 50px;
}

header {
    display:flex;
    align-items: center;
}

header img {
    height: 65px;
    margin-right: 10px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form{
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content:first baseline;
    margin-bottom: 40px;
}

form input{
    font-size: 24px;
    background-color: white;
    border: 2px solid #000000;
    border-bottom: 3px solid #000;
    padding: 18px;
}

form button {
    align-items:flex-start;
    background-color: #1c03ff;
    color: white;
    font-size: 24px;
    font-weight: lighter;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #8176ff;
}

table {
    width: 100%;
}

table ul{
    border-bottom: 2px solid #000000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table li{
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table li img{
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color:white;
    background-color: #000;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    form input {
        font-size: 16px;
    }

    form button {
        font-size: 16px;
    }

    table ul,
    table li {
        font-size: 14px;
    }

    table li img {
        height: 16px;
    }
}

.riscado{
    text-decoration: line-through;
}

#botaoRiscado {
    border-bottom: 2px solid #000000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}